<!DOCTYPE html>
<html>
  <head>
<link rel='stylesheet' href='/styles/Home.style.css' />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
    <ul>
    {{#if user}}
    <li>
      <a href="#">Logged in as  {{user.userName}}</a><a href="/logout"> (Log out)</a>
    </li>
    <li>
      <a href="/watchlist">Watchlist</a>
    </li>
    {{else}}
    <li>
       <a href="/signup">Sign Up /</a><a href="/login"> Login</a>
    </li>
    {{/if}}
    </ul>
    </nav>
    <header>
    <h1>Ghibli Archive</h1>
      <span class="filter-toggle">▽</span>
<div class="dropdown">
    </header>
    <div class="validationErrors">
    {{#if loginMessage}}
      <p class="error">User: {{errorMessage}}</p>
    {{/if}}
  </div>
  <div class="sorting">
  <a href="/best">highest rated</a>
  <a href="/duration-lowest-to-highest">shortest run-time</a>
  </div>


<div class="shows">
{{#each movieArr}}
<div class="show-card">
<p>{{title}}</p>
<p>{{original_title}}</p>
<a href="/show/{{id}}"><img id="pic" src="{{image}}" alt="img"></a>
</div>
{{/each}}
</div>    
    <footer>
        <p>Designed and developed by Kirran Kirpalani @ Ironhack Miami 2022</p>
    </footer>
  <script src="/scripts/script.js"></script>
  </body>
</html>
