<!DOCTYPE html>
<html>
<head>
  {{!-- two or more slashes in a route takes you out of the root directory so you will have to add another slash at the beginning of the path to hit the right route for our css. --}}
    <link rel='stylesheet' href='/styles/Show.style.css'/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
  <body>
  <a id="arrow" href="/"><span >⬅️</span></a>
    <header>
    <h1>{{title}} / {{original_title_romanised}}</h1>
    <h2>{{original_title}}</h2>
    </header>
    <div class="banner">
      <img src="{{movie_banner}}" alt="banner">
    </div>
    <div class="show-info-card">
    <div class="show-details">
      <div class="show-info">
      <p style="text-decoration: underline;">Director</p>
      <p>{{director}}</p>
      <hr>
      <p style="text-decoration: underline;">Producer</p>
      <p>{{producer}}</p>
      <hr>
      <p style="text-decoration: underline;">Release Date</p>
      <p>{{release_date}}</p>
      <hr>
      <p style="text-decoration: underline;">Running Time</p>
      <p>{{running_time}} mins</p>
      <hr>
      <p style="text-decoration: underline;">RT score</p>
      <p>{{rt_score}}%</p>
      <hr>
      <p style="text-decoration: underline;">Plot</p>
      {{description}}
      </div>
          <button>Add to Watchlist</button>
    </div>
    <img src="{{image}}" alt="img">
</div>

<footer>
Ghibli Archive by Kirran Kirpalani
</footer>
  </body>
</html>
