<!DOCTYPE html>
<html>
<head>
  {{!-- two or more slashes in a route takes you out of the root directory so you will have to add another slash at the beginning of the path to hit the right route for our css. --}}
    <link rel='stylesheet' href='/styles/Watchlist.style.css'/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
  <body>
    <nav>
    <ul>
      {{#if user}}
      <li>
       <span>Logged in as {{user.userName}}</span><a href="/logout"> [Log out]</a>
      </li>
      {{/if}}
       <li>  
        <a href="/">Home</a>
        </li>
    </ul>
    </nav>
        <header>
    <h1>Watchlist</h1>
    </header>

<div class="shows">
{{#each watchlistArr}}

<div class="show-card">
<p>{{title}}</p>
<p>{{originalTitle}}</p>
<a href="/show/{{showId}}"><img id="pic" src="{{imageUrl}}" alt="img"></a>
<p class="rating-p">{{rating}}/5</p>
<form class="rating-form hidden" action="/watchlist/{{id}}" method="POST">
    <input type="number" name="rating" min="0" max="5">
    <button>Submit</button>
</form>
<form action="/watchlist/{{id}}/delete" method="POST">
<button>Delete</button>
</form>
</div>

{{/each}}
</div>    
<footer>
<p>Ghibli Archive by Kirran Kirpalani</p> 
</footer>
<script src="/scripts/script.js"></script>
  </body>
</html>





